* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #222222;
  color: #fff;
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 10px;
}

.personajes__contenedor {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 10px;
}
.tarjeta {
  background-color: #454952;
  padding: 5px;
  border-radius: 8px;
}
